.App {
  font-family: sans-serif;
  text-align: center;
}

.task {
  list-style-type: none;
}

.slash {
  text-decoration: line-through;
  background-color: #ffffffc5;
  color: gray;
}

.modal {
  /* overwrite default, have react render it */
  display: block !important;
}
