@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

.task {
  list-style-type: none;
}

.task_title {
  padding-left: 10px;
  font-size: 30px;
  padding-right: 40px;
}

.slash {
  text-decoration: line-through;
  background-color: #ffffffc5;
  color: gray;
}

.info_button {
  cursor: pointer;
}

.modal {
  /* overwrite default, have react render it */
  display: block !important;
}

.header_day {
  font-weight: bold;
  color: darksalmon;
}

a.active {
  text-decoration: underline;
  background-color: #eee;
}

.add_button {
  margin: 20px;
}

.page_header {
  color: orange;
  font-family: "Readex Pro", sans-serif;
}

.brand_title {
  font-family: "Readex Pro", sans-serif;
}
